body {
    background-image: url('../assets/photo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .container {
    margin-top: 60px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 1500px; /* 设置最大宽度为600px */
    height: 800px; /* 根据内容自动调整高度 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 28px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  }
  